<html>
<head>
<link href="/static/multiav.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
        <div class="header-container">
        <div class="branding">
            <span>MultiAV</span>      
        </div>
        <div class="navigation"> 
            <ul>
            <li><a href="/" tabindex="1">Scan file(s)</a></li>
            <li><a href="/last" tabindex="2">Last reports</a></li>
            <li><a href="/search" tabindex="3">Search reports</a></li>
            </ul>
        </div>
        <div class="navigation pull-right">
            <ul>
                <li><a href="/system" tabindex="3">System</a></li>
                <li class="active"><a href="/about" tabindex="3">About</a></li>
            </ul>            
        </div>
        </div>
    </div>
    <div class="content" style="font-size:80%">
        <div id="background" style="height:310px"></div>
        <h2 style="margin-top: 275px;">About, Credits and History</h2>
        <h4>MultiAV: Simple multi-antivirus scanning engine's frontend.</h4>
        Created by Joxean Koret after discovering the price of OPSWAT Metascan and knowing the real work behind it.<br/>
        Original Source @ Github: <a href="https://github.com/joxeankoret/multiav" target="_blank">github.com/joxeankoret/multiav</a><br/>
        <br />
        <br />
        <h4>Malice: VirusTotal Wanna Be - Now with 100% more Hipster</h4>
        Created by blacktop. Malice's mission is to be a free open source version of VirusTotal that anyone can use at any scale from an independent researcher to a fortune 500 company.<br />
        Original Source @ Github: <a href="https://github.com/maliceio/malice" target="_blank">github.com/maliceio/malice</a><br />
        AV Docker Containers @ Github: <a href="https://github.com/malice-plugins" target="_blank">github.com/malice-plugins</a><br />
        <br />
        <br />
        <h4>MultiAV: Extended MultiAV fronted and scans using malice plugins.</h4>
        Created by jampe. Combine the awesome approaches of blacktop's av docker plugins with MultiAVs simplicity and pythonness!<br />
        Source @ Github: <a href="https://github.com/danieljampen/multiav" target="_blank">github.com/danieljampen/multiav</a>
    </div>
</body>
</html>
