$def with (update_results)
<html>
<head>
  <link href="/static/multiav.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="header">
      <div class="header-container">
      <div class="branding">
          <span>MultiAV</span>      
      </div>
      <div class="navigation"> 
          <ul>
          <li class="active"><a href="/" tabindex="1">Scan file(s)</a></li>
          <li><a href="/last" tabindex="2">Last reports</a></li>
          <li><a href="/search" tabindex="3">Search reports</a></li>
          </ul>
      </div>
      <div class="navigation pull-right">
          <ul>
              <li><a href="/system" tabindex="3">System</a></li>
              <li><a href="/about" tabindex="3">About</a></li>
          </ul>            
      </div>
      </div>
  </div>
  <div class="content">
    <div class="actionmenu content">
      <div class="actions">        
        <div class="toggle_checkbox" style="float: right;font-size: 12px;cursor: pointer;">
            <input type="checkbox" checked onclick="toggle_refresh()" id="refreshtoggle"> Auto refresh</input>
          </div>
      </div>
    </div>
  <div id="background" style="height:70px"></div>
    <h4 style="margin-top:40px">Plugin update results<small style="font-weight: normal;padding-left: 30px;">last refresh: $update_results["last_refresh"]</small></h4>
    <div>
      <dl style="padding-left: 0px; font-size:80%">
        <dt>State:</dt>
        $if update_results["end_date"] == "-":
          <dd><span style="color:orange">updating...</span></dd>
        $else:
          <dd><span style="color:green">update complete</span></dd>

        <dt>Start:</dt>
        <dd>$update_results["start_date"]</dd>
        
        $if update_results["is_auto_scale_strategy"] == True:
          <dt>Engine Update complete:</dt>
          <dd>$update_results["engine_update_complete_date"]</dd>
          <dt>Image Export complete:</dt>
          <dd>$update_results["engine_export_complete_date"]</dd>
          $if len(update_results['machine_results']) > 0:
            <dt>SCP complete:</dt>
            <dd>$update_results["scp_complete_date"]</dd>          
            <dt>Load started:</dt>
            <dd>$update_results["load_started_date"]</dd>
        
        <dt>End:</dt>
        $ end_date = update_results["end_date"] if update_results["end_date"] != "-" else "-"
        <dd>$end_date</dd>
        <dt>Duration:</dt>
        $if update_results["end_date"] == "-":
          <dd>-</dd>
        $else:
          $ duration = update_results["end_date"]-update_results["start_date"]
          <dd>$duration</dd>
        <dt>Update Lock</dt>
        $if update_results["update_scan_lock"] == "set":
          <dd style="color:darkgreen">Set - all upcoming scans wait for this update to finish</dd>
        $elif update_results["update_scan_lock"] == "queue":
          <dd style="color:darkred">In queue - system is performing scans added to the queue prior to the update start. Image load is waiting for those tasks to finish.</dd>
        $else:
          <dd style="color:darkgreen">Unset - system is performing scans normally.</dd>
      </ul>
      
      
    </div>
    <table border="0" class="data-table">
      $ add_autorefresh = False
      $if len(update_results['results'].keys()) != 0:
        <tr>
          <th>Name</th>
          <th>Old container</th>
          <th>Old signature</th>
          <th>New container</th>
          <th>New signature</th>
          <th>Updated</th>
          $if update_results["is_auto_scale_strategy"]:
            <th>Exported</th>
        </tr>
        $for scanner_name, values in sorted(update_results['results'].items()):
          <tr>
            <td>$values['engine']</td>
            <td>$values['old_container_build_time']</td>
            <td>$values['old_signature_version']</td>
            $if values['old_container_build_time'] == values['container_build_time']:
              <td>$values['container_build_time']</td>
            $else:
              <td style="color:green">$values['container_build_time']</td>

            $if values['old_signature_version'] == values['signature_version']:
              <td>$values['signature_version']</td>
            $else:
              <td style="color:green">$values['signature_version']</td>

            <td>
              $if values['updated'] == "success":
                <span style="color:green">&#x25cf; ok</span>
              $elif values['updated'] == "error":
                <span style="color:darkred">&#x25cf; error</span>
              $else:
                <span style="color:orange">&#x25cf; $values['updated']</span>
                $ add_autorefresh = True
            </td>
            $if update_results["is_auto_scale_strategy"]:
              $if values['exported'] == "-":  
                <td>&#x25cf; -</td>
                $ add_autorefresh = True
              $elif values['exported'] == "...":
                <td style="color:orange">&#x25cf; ...</td>
                $ add_autorefresh = True
              $elif values['exported'] == "error":
                <td style="color:darkred">&#x25cf; error</td>
              $else:
                <td style="color:green">&#x25cf; ok</td>
          </tr>
      $else:
        <tr>
          <td>-</td>
        </tr>
    </table>
    
    $if update_results["is_auto_scale_strategy"]:
      <br />
      <table border="0" class="data-table">
        <tr>
          <th style="vertical-align: bottom; background-color: white;">Machine</th>
          $for scanner_name in sorted(list(update_results['results'])):
            <th class="rotate"><div>$scanner_name</div></th>
        </tr>
        $if len(update_results['machine_results']) > 0:
          $for machine_id, engine_dict in update_results['machine_results'].items():
            <tr>
              <td>$machine_id</td>
              $for engine_name, value in sorted(engine_dict.items()):
                $if value == "-":  
                  <td>-</td>
                  $ add_autorefresh = True
                $elif value == "scp":
                  <td style="color:orange">scp</td>
                  $ add_autorefresh = True
                $elif value == "load":
                  <td style="color:darkblue">load</td>
                  $ add_autorefresh = True
                $elif value == "error":
                  <td style="color:darkred">err</td>
                $else:
                  <td style="color:green">$value</td>
            </tr>
        $else:
            <tr>
              <td colspan="$(len(update_results['results'])+1)" style="text-align: center">-</td>
            </tr>
      </table>
  </div>
  $if add_autorefresh:
    <script>var enableRefresh = true;</script>
  $else:
    <script>var enableRefresh = false;</script>
  
  <script src="/static/multiav.js"></script>
</body>
</html>
