/*
Nightmare Fuzzing Projeft CSS
Created on Sat May 18 2013
@author: joxean
*/
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0px;
}

h1 {
  display: block;
  background-color:#FF9900;
  padding: 3px 0 5px 3px;
  color: #333333;
}

dl {
  display: grid;
  grid-template-columns: 30% auto;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
dt {
  grid-column-start: 1;
  float: left;
  padding: 0;
  margin: 0;
  font-weight:bold;
}
dd {
  grid-column-start: 2;
  padding: 0;
  margin: 0;
}

.header {
  position: fixed;
  display: flex; 
  width: 100%;
  height: 50px;
  background-color:#FF9900;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  z-index: 100;
}

.header .branding {
  font-size: 24px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 2px grey;
}

.header .header-container {
  width: 820px;
  display: flex;
  height: 100%;
}

.navigation {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 115%;
  padding: 0px;
  margin: 0px;
  float: left;
  position: relative;
  left: 0%;
  margin-right: 10;
  margin-bottom: 10;
}

.navigation h1 {
  display: block; 
  background-color:#FF9900;
  font-size: 90%; 
  padding: 3px 0 5px 3px;
  border: 1px solid #000000;
  color: #333333;
  margin: 0px;
  width:159px;
}

.navigation ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  border: none;
  height: 100%;
}
.navigation ul li {
  float:left;
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}
.navigation ul li a {
  font-size: 80%;
  display: block;
  padding: 5px 10px 2px 10px;
  text-decoration: none;
  color: #666666;
  width:111px;
}

.navigation ul li a:hover, #vertmenu ul li a:focus {
  color: white;
}

.navigation a:focus {
  outline: 0px !important;
}

.navigation ul .active {
  background-color: #d0820e;
}

.navigation ul .active a {
  color: white !important;
}

.pull-right {
  margin-left: auto;
}

.navigation.pull-right {
  text-align: right;
}

#scansettings {
  padding-left: 200px;
  color: #666666;
  font-size: 13.33px;
  user-select: none;
}

#scansettings div{    
  float: left;
  border: 1px solid #ffa500;
  padding: 6px;
  margin-top: -25px;
  background-color: white;
  height: 23px;
  margin-right: 15px;
}

#scansettings .toggle_checkbox{
  cursor: pointer;
}

#scansettings .toggle_checkbox input{
  cursor: pointer;
}

#background {
  background: url("/static/bg.svg");
  position: absolute;
  height: 300px;
  width: 100%;
  z-index: -1;
  border-bottom: 1px solid orange;
  left: 0px;
}

.content {
  display: block;
  margin:0px auto;
  padding-top: 50px;
  z-index: 20;
  width:820px;
}

.content h1 {
  font-size: 12.8;
  margin: 0px;
  width: 100%;
  background-color: orange;
  color: #333333;
  padding-left: 10px;
}

#data {
  border-collapse:collapse;
}

#data th {
  background-color:#FF9900;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

#data tr:nth-child(even) {
  background-color:white;
}

#data tr:nth-child(odd) {
  background-color:#FFFFCC;
}

#hextable {
  border-collapse:collapse;
}

#hextable th {
  background-color:#FF9900;
}

.dropzone {
  border: 1px solid orange !important;
  min-height: 300px !important;
  margin-top: 40px;
}
.dz-message {
  font-size: 80%;
}

.button {
  border: 1px solid orange;
  background-color: white;
  z-index: 30;
  color: 666666;
  padding: 10px;
  cursor: pointer;
  transition: background-color .3s;
}
.button:hover {
  color:white;
  background: orange;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

#act-on-upload{
  margin-top: -25px;
  margin-left: 670px;
}

#update-button{
  margin-top: 5px;
  margin-left: 677px;
}

.files {
  display: flex;
  flex-flow: row wrap;
}
.file-row {
  display: flex;
  width:100%;
  align-items: baseline;
}

.file-row:hover {
  background-color: #eeeeee !important
}
.file-cell{
  flex: 1;
}
.file-cell:first-child{
  flex: 2;
}
.file-cell:last-child{
  flex: 0.5;
}
.file-cell p{
  margin: 2px !important;
  font-size: 90% !important;
}
.file-row .cancel{
  color:darkred;
  cursor:pointer !important;
  font-weight: bold;
}
.file-row .cancel:hover{
  color:red;
}

.result-table {
  margin-top: 15px;
  z-index: 50;
  position: relative;
  width: 100%;
}

.data-table {
  border: 0px;
  border-collapse: collapse;
  font-size: 80%;
  width: 100%;
  margin-top: 10px;
}

.data-table th {
  background-color:#FF9900;
  padding: 3px 10px;
  color: #333333;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.data-table tr:hover {
  background-color: #eeeeee !important;
}

.data-table td {
  border-bottom: 1px dashed #C39C4E;
  padding: 5px 10px;
}

.overview {
  font-size:80%;
  height:200px;
}

.overview td:first-child {
  width: 200px;
  text-align: center;
}

.tab-navigation {
  margin:40px 0px 0px 0px;
  padding-left: 0px;
  cursor: pointer;
}

.tab-navigation li {
  float:left;
  list-style: none;
  padding: 10px 20px;
  border: 1px solid orange;
  margin-right: -1px;
  transition: background-color .3s;
  color: #333333;
}

.tab-navigation li:hover{
  color: white;
  background-color:#d0820e;
}

.tab-navigation li.active:hover{
  color: black !important;
  background-color: white !important;
}

.tab-navigation .active {
  border-bottom: 1px solid white;
  background-color: white !important;
}

.engine-dection-ratio {
  margin-top: 10px;
}

.engine-dection-ratio span {
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
}

.engine-dection-ratio .infected {
  border: 1px solid red;
  color: red;
}

.engine-dection-ratio .clean {
  border: 1px solid green;
  color: green;
}

.infected-percentage {
  font-size: 50px;
}

.infected-percentage .infected {
  color: red;
}

.infected-percentage .clean {
  color: green;
}

.overview-table {
  border: 0px;
  font-size: 12px;
}

.overview-table tr td:first-child {
  color: #3c3c3c;
  text-align: left;
  width: 125px;
}

.search p {
  color: #333333;
  margin-top: 250px;
  text-shadow: 1px 1px 2px #bbbbbb;
}

.search form .query {
  background: #fff;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px orange;
  z-index: 3;
  height: 44px;
  width: 100%;
  font-size: 16px;
  padding: 5px 8px 0px 16px;
}

.search form .query:focus {
  outline: 2px solid #e0ded9 !important;
}

.search form .button {
  margin: 15px 0px 0px 666px;
}

.search-hints {
  font-size: 80%;
  margin-top: 50px;
  color: #66665e;
}

.pagination {
  display: flex;
  width: 100%;
  height:40px;
  padding-top: 6px;
  justify-content: space-between;
}

.pagination a {
  color: #666666;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #ff9900;
  color: white;
}

.pagination a:hover {
  background-color:#d0820e;
  color: white;
}

.pagination a.not-allowed:hover{
  cursor: not-allowed;
  color: #666666;
  background-color: unset;
}

.actionmenu {
  position: fixed;
  font-size: 80%;
  padding-top: 10px;
  background-color: #fff3e5;
  padding-left: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  z-index: 80;
}

.actions {
  border-bottom: 1px solid #f3f3f3;
  margin-right: 10px;
  height: 20px;
}

.actions .actions-title {
  font-weight: bold;
  float:left;
}

.actions .actions-body {
  padding-left: 10px;
  float: left;
}

.actions-body a {
  text-decoration: none;
}

.actions-body a:hover {
  text-decoration: underline;
}

.search-error {
  color:red;
}

.collapsable {
  cursor: pointer;
}

th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
  padding: 0px 0px;
}

th.rotate > div {
  transform:
    translate(0px, 51px)
    rotate(270deg);
  width: 20px;
}